/* Additional css for tabs */

.tab-set {
    margin-top: 0px;
}

.tab-set > label {
    padding: 0.1em var(--tabs--pading-x);
}

p.with-sage-tab { 
    margin-bottom:0.25rem
}

/*
p.with-sage-tab {
    --sage-tab-width: 2.5em;
    --python-tab-width: 0em;
    --sage-live-tab-width: 0em;
    margin-bottom:-3em;
    max-width:calc(100% - var(--sage-tab-width) - var(--python-tab-width) - var(--sage-live-tab-width));
}

p.with-python-tab {
    --python-tab-width: calc(3.5em + var(--tabs--margin-x));
}

p.with-sage-live-tab {
    --sage-live-tab-width: calc(5em + var(--tabs--margin-x));
}

p.example.with-sage-tab {
    margin-bottom:-1em;
}

.tab-set {
    flex-direction: row-reverse;
}

.tab-set > label {
    margin-left:0;
    margin-right: var(--tabs--margin-x);
}

.tab-set > label:last-of-type {
  margin-right: 0;
}

.tab-set > input:nth-of-type(1),
.tab-set > label:nth-of-type(1) {
  order:32;
}

.tab-set > input:nth-of-type(2),
.tab-set > label:nth-of-type(2) {
  order:16;
}

.tab-set > input:nth-of-type(3),
.tab-set > label:nth-of-type(3) {
  order:8;
}
*/
