prune sage

include VERSION.txt

# include sage_setup
recursive-include sage_setup *
prune sage_setup/autogen/flint*
exclude sage_setup/autogen/flint*
exclude sage_setup/autogen/giacpy*

graft sage/graphs/bliss_cpp
include sage/graphs/bliss.p*

global-exclude *.c
global-exclude *.cpp

global-exclude all__sagemath_*.*
global-include all__sagemath_bliss.py

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.bak
global-exclude *.so
global-exclude *~
prune .tox
prune build
prune dist
