# This "constraints file" can be used for forcing pip
# (and any tools that delegate to pip, such as pypa/build)
# to install the dependencies of sagemath-standard that are
# distribution packages included in the SageMath monorepository
# only from their source trees in SAGE_ROOT/pkgs/
# instead of from PyPI.
#
# Example:
#
# [alice@localhost sage]$ ./bootstrap
# [alice@localhost sage]$ ./configure
# [alice@localhost sage]$ export MAKE="make -j16" SAGE_NUM_THREADS=16
# [alice@localhost sage]$ make all-sage-local
# [alice@localhost sage]$ export PIP_CONSTRAINT="$(pwd)/pkgs/sagemath-standard/constraints_pkgs.txt"
# [alice@localhost sage]$ ./sage -sh -c 'python3 -m build -v -v pkgs/sagemath-standard'
#
# Reference on the format:
# https://pip.pypa.io/en/stable/user_guide/#constraints-files
#
sage_conf            @ file://${SAGE_ROOT}/pkgs/sage-conf
sage_setup           @ file://${SAGE_ROOT}/pkgs/sage-setup
