prune sage

include sage/env.py
include sage/version.py
include sage/misc/package.py
include sage/misc/package_dir.py
include sage/misc/temporary_file.py
include sage/misc/viewer.py
graft sage/features

include VERSION.txt

global-exclude all__*.py
global-include all__sagemath_environment.py

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.bak
global-exclude *.so
global-exclude *~
prune .tox
prune build
prune dist
