prune sage

include VERSION.txt

include sage/libs/sirocco.p*

global-exclude *.c
global-exclude *.cpp

global-exclude all__sagemath_*.*
global-include all__sagemath_sirocco.py

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.bak
global-exclude *.so
global-exclude *~
prune .tox
prune build
prune dist
