include VERSION.txt

prune sage

graft             sage/libs/arb
graft             sage/libs/flint
recursive-include sage/libs/gsl *.pxd                                           # FIXME
include           sage/libs/gsl/__init__.p*                                     # FIXME
include           sage/libs/gsl/all.p*                                          # FIXME
include           sage/libs/gsl/complex/all.py                                  # FIXME
recursive-include sage/libs/mpfr *.pxd                                          # FIXME
include           sage/libs/mpfr/all.py                                         # FIXME
recursive-include sage/libs/mpfi *.pxd                                          # FIXME
include           sage/libs/mpfi/all.py                                         # FIXME
recursive-include sage/libs/pari *.pxd                                          # FIXME
include           sage/libs/pari/all.py                                         # FIXME
graft             sage/libs/linkages                                            # FIXME
recursive-include sage/matrix *.pxd                                             # FIXME
include           sage/matrix/matrix_complex_ball_dense.p*
include           sage/misc/binary_tree.p*                                      # FIXME
include           sage/misc/all.py                                              # FIXME
recursive-include sage/rings *.pxd                                              # FIXME
include           sage/rings/*_arb.p*
include           sage/rings/finite_rings/*.pxd                                 # FIXME
include           sage/rings/finite_rings/integer_mod_limits.h                  # FIXME
include           sage/rings/finite_rings/all.py                                # FIXME
include           sage/rings/integer_fake.h                                     # FIXME
#include           sage/rings/number_field/number_field_element_quadratic.p*   #### this is entangled with NTL
include           sage/rings/padics/*_flint_*.p*
include           sage/rings/padics/*.pxd                                       # FIXME
include           sage/rings/padics/*.pxi                                       # FIXME
include           sage/rings/polynomial/*_flint.p*
include           sage/rings/polynomial/*_arb.p*

global-exclude    all__sagemath_*.p*
global-include    all__sagemath_flint.py

global-exclude *.c
global-exclude *.cpp

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.bak
global-exclude *.so
global-exclude *~
prune .tox
prune build
prune dist
