name: Build & Test using Conda

on:
  push:
    tags:
      - '*'
    branches:
      - 'public/build/**-runci'
  pull_request:
  workflow_dispatch:
    # Allow to run manually

concurrency:
  # Cancel previous runs of this workflow for the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Conda
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        # On pushes to tags or branches, test the whole matrix.
        os:
          - ubuntu-latest
          - macos-latest
          - macos-13
        python:
          - 3.9
          - 3.10
          - 3.11
        # Optional environment is disabled for now as its not yet working
        # conda-env: [environment, environment-optional]
        conda-env: [environment]
        use-numpy-2: [true, false]

        # On pull requests, only test two jobs:
        # Ubuntu with Python 3.9, macOS (arm64) with Python 3.11.
        # Build & Test currently uses Python 3.10 (on ubuntu-jammy).
        # Together, they cover the supported minor Python versions.
        is-pull-request:
          - ${{ github.event_name == 'pull_request' }}
        exclude:
          - is-pull-request: true  # trick from https://github.com/orgs/community/discussions/26253#discussioncomment-6745038
        include:
          - os: ubuntu-latest
            python: 3.9
            conda-env: environment
            use-numpy-2: false
          - os: ubuntu-latest
            python: 3.11
            conda-env: environment
            use-numpy-2: true
          - os: macos-latest
            python: 3.11
            conda-env: environment
            use-numpy-2: false

    steps:
      - uses: actions/checkout@v4

      - name: Merge CI fixes from sagemath/sage
        run: |
          .ci/merge-fixes.sh
        env:
          GH_TOKEN: ${{ github.token }}
          SAGE_CI_FIXES_FROM_REPOSITORIES: ${{ vars.SAGE_CI_FIXES_FROM_REPOSITORIES }}

      - name: Cache conda packages
        uses: actions/cache@v4
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ hashFiles('environment-3.11.yml') }}

      - name: Setup Conda environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python }}
          miniforge-version: latest
          use-mamba: true
          channels: conda-forge
          channel-priority: true
          activate-environment: sage-dev
          environment-file: ${{ matrix.conda-env }}-${{ matrix.python }}-${{ startsWith(matrix.os, 'macos') && (startsWith(runner.arch, 'ARM') && 'macos' || 'macos-x86_64') || 'linux' }}.yml

      - name: Install Numpy 2
        if: ${{ matrix.use-numpy-2 }}
        shell: bash -l {0}
        run: conda install numpy==2.0.0

      - name: Print Conda environment
        shell: bash -l {0}
        run: |
          conda info
          conda list

      - name: Bootstrap
        shell: bash -l {0}
        continue-on-error: true
        run: |
          ./bootstrap

      - name: Build
        shell: bash -l {0}
        run: |
          # Use --no-deps and pip check below to verify that all necessary dependencies are installed via conda.
          pip install --no-build-isolation --no-deps --config-settings editable_mode=compat -v -v -e ./src
        env:
          SAGE_NUM_THREADS: 5

      - name: Verify dependencies
        if: '!cancelled()'
        shell: bash -l {0}
        run: pip check

      - name: Test
        if: '!cancelled()'
        shell: bash -l {0}
        run: ./sage -t --all --baseline-stats-path=.github/workflows/ci-conda-known-test-failures.json -p0

      - name: Print logs
        if: always()
        run: |
          for file in $(find . -type f -name "*.log"); do
              echo "::group::$file"
              cat "$file"
              echo "::endgroup::"
          done
