name: Publish documentation

on:
  workflow_run:
    workflows: "Build documentation"
    types:
      - completed

permissions:
  statuses: write
  checks: write
  pull-requests: write


# This workflow runs after doc-build workflow, taking the
# artifact doc and deploying it to a netlify site.
#
# event (triggered doc-build)     URL (of the doc deployed to NETLIFY_SITE)
# ---------------------------     ---------------------------------
# on pull request                 https://doc-pr-12345--NETLIFY_SITE
# on push branch develop          https://doc-develop--NETLIFY_SITE
#
# where NETLIFY_SITE is presently sagemath.netlify.app for repo sagemath/sage.
#
# This workflow runs only if secrets NETLIFY_AUTH_TOKEN and NETLIFY_SITE_ID are set.

jobs:
  publish-doc:
    runs-on: ubuntu-latest
    needs: doc-html
    if: github.event.workflow_run.conclusion == 'success'
    env:
      CAN_DEPLOY: ${{ secrets.NETLIFY_AUTH_TOKEN != '' &&  secrets.NETLIFY_SITE_ID != '' }}
    steps:
      - name: Get information about workflow origin
        uses: potiuk/get-workflow-origin@v1_5
        id: source-run-info
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sourceRunId: ${{ github.event.workflow_run.id }}
        if: env.CAN_DEPLOY == 'true'

      - name: Download doc
        id: download-doc
        uses: actions/download-artifact@v4
        with:
          name: doc
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          run-id: ${{ github.event.workflow_run.id }}
        if: steps.source-run-info.outputs.sourceEvent == 'pull_request' || (steps.source-run-info.outputs.sourceEvent == 'push' && steps.source-run-info.outputs.targetBranch == 'develop')

      - name: Extract doc
        run: unzip doc.zip -d doc
        if: steps.download-doc.outcome == 'success'
        # WARNING: the folder structure is doc/doc/<files>, so for example the CHANGES.html
        # generated by doc-build.yml is at doc/doc/CHANGES.html

      - name: Read diff file size
        id: read-diff-file-size
        continue-on-error: true
        run: |
          cat doc/doc/DIFF_FILE_SIZE.txt  # debug print
          { printf 'result='; cat doc/doc/DIFF_FILE_SIZE.txt; } >> "$GITHUB_OUTPUT"
        # note that the result will have type string! although "== 0" coerce to number, see
        # https://docs.github.com/en/actions/reference/workflows-and-actions/expressions

      - name: Deploy to Netlify
        id: deploy-netlify
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=doc/doc --message ${NETLIFY_MESSAGE} --alias ${NETLIFY_ALIAS}
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_MESSAGE:  doc-${{ steps.source-run-info.outputs.pullRequestNumber && format('pr-{0}', steps.source-run-info.outputs.pullRequestNumber) || 'develop' }}
          NETLIFY_ALIAS: doc-${{ steps.source-run-info.outputs.pullRequestNumber && format('pr-{0}', steps.source-run-info.outputs.pullRequestNumber) || 'develop' }}
        if: steps.download-doc.outcome == 'success'

      # Add deployment as status check, PR comment and annotation we could use
      # the nwtgck/actions-netlify action for that, except for that it is not
      # (yet) working in workflow_run context: https://github.com/nwtgck/actions-netlify/issues/545
      - name: Add/Update deployment status PR comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          number: ${{ steps.source-run-info.outputs.pullRequestNumber }}
          header: preview-comment
          recreate: false
          message: |
            [Documentation preview for this PR](${{ steps.deploy-netlify.outputs.NETLIFY_URL }}/html/en) (built with commit ${{ steps.source-run-info.outputs.sourceHeadSha }}; ${{ steps.read-diff-file-size.outputs.result != 0 && format('[changes]({0}/CHANGES.html) is ready!', steps.deploy-netlify.outputs.NETLIFY_URL) || 'there is no change! ' }} :tada:
            This preview will update shortly after each push to this PR.
        if: steps.download-doc.outcome == 'success'

      - name: Update deployment status PR check
        uses: myrotvorets/set-commit-status-action@v2.0.1
        env:
          DEPLOY_SUCCESS: Successfully deployed preview.
          DEPLOY_FAILURE: Failed to deploy preview.
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status == 'success' && 'success' || 'failure' }}
          sha: ${{ github.event.workflow_run.head_sha }}
          context: Deploy Documentation
          targetUrl: ${{ steps.deploy-netlify.outputs.NETLIFY_URL }}
          description: ${{ job.status == 'success' && env.DEPLOY_SUCCESS || env.DEPLOY_FAILURE }}
        if: steps.download-doc.outcome == 'success'

      - name: Report deployment url
        run: |
          echo "::notice::The documentation has been deployed - ${{ steps.deploy-netlify.outputs.NETLIFY_URL }}"
        if: steps.download-doc.outcome == 'success'
