name: Build documentation (PDF)

on:
  pull_request:
  merge_group:
  push:
    branches:
      - develop
  workflow_dispatch:
    # Allow to run manually

concurrency:
  # Cancel previous runs of this workflow for the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: 3.12

jobs:
  doc-pdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Maximize available disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          # Remove pre-installed packages like Docker, Android, .NET, etc.
          # We only keep the basic essentials (like compilers, etc.)
          tool-cache: true

      - name: Merge CI fixes from sagemath/sage
        run: |
          .github/workflows/merge-fixes.sh
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Cache conda packages
        uses: actions/cache@v4
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ hashFiles('environment-${{ env.PYTHON_VERSION }}-linux.yml') }}

      - name: Compiler cache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-meson-${{ env.PYTHON_VERSION }}

      - name: Setup Conda environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          # Disabled for now due to
          # https://github.com/conda-incubator/setup-miniconda/issues/379
          # miniforge-version: latest
          use-mamba: true
          channels: conda-forge
          channel-priority: true
          activate-environment: sage-dev
          environment-file: environment-${{ env.PYTHON_VERSION }}-linux.yml

      - name: Build Sage
        shell: bash -l {0}
        run: |
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
          export CC="ccache $CC"
          export CXX="ccache $CXX"
          pip install --no-build-isolation --config-settings=builddir=builddir . -v

      - name: Build documentation
        shell: bash -l {0}
        run: |
          sudo DEBIAN_FRONTEND=noninteractive sudo apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install $(build/bin/sage-get-system-packages debian texlive texlive_luatex free_fonts xindy)
          meson compile -C builddir doc-pdf
        env:
          SAGE_DOCBUILD_OPTS: "--include-tests-blocks"

      - name: Copy doc
        id: copy
        run: |
          mkdir -p ./doc
          cp -r builddir/src/doc/pdf doc/
          # Zip everything for increased performance
          zip -r doc-pdf.zip doc

      - name: Upload doc
        uses: actions/upload-artifact@v4
        with:
          name: doc-pdf
          path: doc-pdf.zip
