name: Lint

on:
  push:
    branches:
      - master
      - develop
  pull_request:
  merge_group:

concurrency:
  # Cancel previous runs of this workflow for the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Merge CI fixes from sagemath/sage
      run: |
        .github/workflows/merge-fixes.sh
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Install prerequisites
      id: deps
      run: pip install uv

    - name: Code style check with ruff-minimal
      if: (success() || failure()) && steps.deps.outcome == 'success'
      run: |
        uv run --frozen --only-group lint -- ruff check --output-format github --ignore E402,E721,E731,E741,E742,E743,F401,F402,F403,F405,F821,F841,I001,PLC0206,PLC0208,PLC1802,PLC2401,PLC3002,PLC0415,PLE0302,PLR0124,PLR0402,PLR0911,PLR0912,PLR0913,PLR0915,PLR1704,PLR1711,PLR1714,PLR1716,PLR1733,PLR1736,PLR2004,PLR5501,PLW0120,PLW0211,PLW0602,PLW0603,PLW0642,PLW1508,PLW1510,PLW1641,PLW2901,PLW3301
        uv run --frozen --only-group lint -- ruff check --output-format github --preview --select E111,E115,E21,E221,E222,E225,E227,E228,E25,E271,E272,E275,E302,E303,E305,E306,E401,E502,E701,E702,E703,E71,W291,W293,W391,W605,TC src/sage/

    - name: Code style check with relint
      if: (success() || failure()) && steps.deps.outcome == 'success'
      run: uv run --frozen --only-group lint -- relint -c src/.relint.yml -- src/sage/

    - name: Validate docstring markup as RST
      if: (success() || failure()) && steps.deps.outcome == 'success'
      run: uv run --frozen --only-group lint -- flake8 --select=RST src/sage/ --config src/tox.ini
    
    - name: TOML format check with taplo
      uses: docker://tamasfe/taplo:0.10.0
      with:
        args: format --check --diff pyproject.toml .taplo.toml 
